$main-text: #000063;
$main-border: #000063;
$focus-text: #0087b4;
$focus-border: #0087b4;
$signup-button: #9be6ff;
$signup-button-hover: #000063;
$signup-button-active: #000000;
$signup-button-text: #9be6ff;
$error-text: #ea0000;
