<form method="POST" action="">
  <div class="form-group">
    <label for="exampleInputEmail1">Enter skill</label>
    <input type="text" class="form-control input" id="skill" name="skill" placeholder="For example: HTML">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>